ui/node_modules
ui/build
ui/dist
node_modules
.git
.github
*.log
cli/cli
core
gateway
message-bus
services/*/app-management
services/*/core
services/*/gateway
services/*/local-storage
services/*/message-bus
services/*/user
services/*/gpu-sidecar
services/*/vm-sidecar
