go 1.26.0

use ./services/common

use ./services/core

use ./services/app-management

use ./services/gateway

use ./services/user

use ./services/local-storage

use ./services/message-bus

use ./services/vm-sidecar

use ./services/gpu-sidecar

use ./cli
